@import "tailwindcss";
/* Hide scrollbar */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

body {
  background-color: aliceblue;
.input {
  @apply border rounded-lg p-3 w-full focus:outline-none focus:ring-2 focus:ring-blue-500;
}
